body{
    background-image: url('hhh.jpg');
    background-size: 100% 100%;
    background-image: ;
}

#education{
    color: brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#project{
    color: brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#connect{
    color: brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#l{
    color: brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#i{
    color: brown;
    text-align: center;
    padding-left: ;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#o
{
    color: red;
}
#h{
    color:red;
    


}
#p{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(209, 65, 28);
}
#ki{
    color: brown;
    text-align: center;
    padding-left: ;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
